<div style="font-family: sans-serif;">
    <h2 style="color: blue;">
        Hello <span style="color: #222;"> <%= email %> </span>
    </h2>

    <p style="color: gray;">
      You logged in to your account in <%= today.toDateString() %> at <%= today.toLocaleTimeString() %>
    </p>

    Thanks
</div>