<div style="font-family: sans-serif;">
  <h2 style="color: #555;">
    Verify your email address
  </h2>
  <p style="color: gray;">
    Click on the link in the below to activate your account
  </p>

  <a href="<%= link %>">
    Verify Your Account
  </a>
</div>